
<!-- Botones -->
<section id="actions" class="py-4 mb-b bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <button mat-raised-button color="primary" class="text-white" style="width: 120%;"
          (click)="abrirAgregarDialog()">
          <mat-icon aria-hidden="false" fontIcon="add" style="padding-right: 10%;"></mat-icon> Agregar Cliente
        </button>
      </div>
    </div>
  </div>
</section>

<!--Lista de Clientes-->
<section id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4> Listado de Clientes</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <!--TODO: Checkbutton para editar y eliminar, no filas de botones-->
                <th></th>
                <th>#</th>
                <th>Nombre</th>
                <th>Saldo</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes; let i = index" style="vertical-align: middle;">
                  <td><mat-checkbox class="example-margin"></mat-checkbox></td>
                  <td> {{i + 1}}</td>
                  <td> {{cliente.nombre}} {{cliente.apellido}}</td>
                  <td> {{cliente.saldo | currency:' MNX': '$'}}</td>
                  <td>
                    <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-Light btn-block" data-toggle="modal"
                      data-target="editarClienteModal">
                      <i class="fas fa-pencil"></i>
                    </a>
                  </td>
                  <td>
                    <a href="#" class="btn btn-Light btn-block" data-toggle="modal" data-target="eliminarClienteModal">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Tarjetas laterales-->
      <div class="col-md-3">
        <div class="card text-center bg-danger text-white mb-4">
          <div class="card-body">
            <h3> Saldo total</h3>
            <h4 class="display-4">
              {{getSaldoTotal() | currency:' MNX': '$'}}
            </h4>
          </div>
        </div>
        <div class="card text-center bg-success text-white mb-4">
          <div class="card-body">
            <h3> Total de Clientes</h3>
            <h4 class="display-4">
              <i class="fa fa-users">
                {{clientes?.length}}</i>
            </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--Agregar cliente modal-->
<!--div class="modal fade" id="agregarClienteModal">
  <div class="modal-dialog modl-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Agregar cliente</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
    </div>
  </div>
</div-->
