<div style="padding-left: 8%;">
  <form #f="ngForm">
    <h1 style="padding-top: 5%;">Agregar cliente</h1>
    <mat-divider></mat-divider>
    <div *ngIf="mostrarMensaje" class="text-white" style="margin-right: 8%; background-color: rgb(180, 47, 47);">
      <h3 style="padding: 1%;">Llena el formulario correctamente</h3>
    </div>
    <h2>Nombre:</h2>
    <mat-form-field style="width: 50%;">
      <mat-label style="text-align: center;" for="nombre">Ingrese el nombre del cliente</mat-label>
      <input matInput type="text" name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre"
        [ngClass]="{'is-invalid': nombre.errors && nombre.touched}" required minlength="2">
      <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">
        Nombre requerido
      </div>
      <div [hidden]="!nombre.errors?.['minlength']" class="invalid-feedback">
        Debe tener al menos dos caracteres
      </div>
    </mat-form-field>
    <br>
    <h2>Apellido:</h2>
    <mat-form-field style="width: 50%;">
      <mat-label style="text-align: center;">Ingrese el apellido del cliente</mat-label>
      <input matInput type="text" name="apellido" ngModel required #apellido="ngModel" [(ngModel)]="cliente.apellido"
      [ngClass]="{'is-invalid': apellido.errors && apellido.touched}" required minlength="3">
      <div [hidden]="!apellido.errors?.['required']" class="invalid-feedback">
        Apellido requerido
      </div>
      <div [hidden]="!nombre.errors?.['minlength']" class="invalid-feedback">
        Debe tener al menos tres caracteres
      </div>
    </mat-form-field>
    <br>
    <h2>Email:</h2>
    <mat-form-field style="width: 50%;">
      <mat-label style="text-align: center;">Ingrese el email del cliente</mat-label>
      <input matInput type="email" name="email" ngModel #email="ngModel" [(ngModel)]="cliente.email"
      [ngClass]="{'is-invalid': email.errors && email.touched}" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2, 3})+$">
      <div [hidden]="!email.errors?.['required']" class="invalid-feedback">
        Email requerido
      </div>
      <div [hidden]="!nombre.errors?.['pattern']" class="invalid-feedback">
        Email no válido
      </div>
    </mat-form-field>
    <br>
    <h2>Saldo:</h2>
    <mat-form-field style="width: 50%;">
      <mat-label style="text-align: center;">Ingrese el saldo del cliente</mat-label>
      <input matInput type="number" name="saldo" ngModel required #saldo="ngModel" [(ngModel)]="cliente.saldo"
      [ngClass]= "{'is-invalid': saldo.errors && saldo.touched}" required>
      <div [hidden]="!email.errors?.['required']" class="invalid-feedback">
       Saldo requerido
      </div>
    </mat-form-field>
    <br>

    <div mat-dialog-actions class="modal-footer">
      <button mat-button (click)="onCerrar()">Cancelar</button>
      <button mat-button type="submit" (click)="onGuardar(f)" cdkFocusInitial>Guardar</button>
    </div>
  </form>
</div>
